
// ----- colors settings -----

$ColorBody: #6b717f;
$ColorBackgroundBody: #fff;
$ColorBorderSection: #8C8C8C;
$ColorShadowSection: #6b717f;
$ColorBackgroundCode: #000;
$ColorTitle: #BF4080;

// ----- Padding settings -----
$GlobalPadding: 1em;